@font-face {
   font-family: 'Samim-Bold';
   font-display: swap;
   src: url('file:///C:/Users/A/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-26_131157/fonts/Samim-Bold/font.ttf');
}
