@font-face {
   font-family: 'Samim-Bold';
   font-display: swap;
   src: url('Samim-Bold/font.ttf');
}
@font-face {
   font-family: 'Samim';
   font-display: swap;
   src: url('Samim/font.ttf');
}
@font-face {
   font-family: 'irsans_';
   font-display: swap;
   src: url('irsans_/font.ttf');
}
